body{
  margin: 0;
  background-color: #eee;
}

#header{
    position:fixed;
    top:0;
    display:flex;
    width:100%;
    height: 75px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Squada One', cursive;
    font-size:1.35rem;
    
}

#nav-bar{
    display: flex;
    align-items:center;  
}

  ul{
    list-style: none;
  }

  a{
    text-decoration:none;
    color: inherit;
  }

  a.nav-link{
    padding-right:25px; 
  }

  #body-img{
    width: 100%;
    height: auto;
    display:block;
    margin-top:75px;
    border-top: solid;
    border-bottom: solid;
    border-color:red;
  }

  .Descubre-div{
    margin-top: 3rem;
  
 
    background-color:#eee;
 
    border-top:solid;
    border-bottom: solid;
    border-color: #eee;
    font-family: 'Noto Serif', serif;
    font-size:3rem ;
    font-style: italic;
    text-align: center;
    color: #000;
  }

  @media (max-width: 800px) {
    .Descubre-div{
      font-size: 2rem;
    }
    .Descubre{
      padding: 0.5rem;
    }
    .primer-producto-div{
      flex-wrap: wrap-reverse;
      margin-top: 2rem;
    }
    .segundo-producto-div{
      flex-wrap: wrap;
      margin-top: 2rem;
    }
    .Tercer-producto-div{
      flex-wrap: wrap-reverse;
      margin-top: 2rem;
    }
  }

  .Descubre{
padding: 1rem;
margin: 0;
  }

  .primer-producto-div{
  display: flex;
  background-color: #eee;
  margin-top: 3rem;
  border-top:solid;
  border-bottom: solid;
  border-color: #eee;
  font-family: 'Noto Serif', serif;
  }

  .KairosDeluxeFoto{
   margin: 40px 80px;
  }

  #KairosDeluxeFoto{
    width: 15rem;
    box-shadow: 5px 5px 4px 4px rgba(255, 0, 0, 0.7);
  }

  .texto-primer-producto{
  box-sizing: border-box;
  padding: 55px 120px 25px 50px;
  color:#000;
  text-align:justify;
  }

  h1.KairosDeluxe{
font-style: italic;
  }

  .segundo-producto-div{
    display: flex;
    background-color: #eee;
    margin-top: 3rem;
    border-top:solid;
    border-bottom: solid;
    border-color: #eee;
    font-family: 'Noto Serif', serif;
    }
  
    .cafelovetorta-foto{
     margin: 40px 80px 40px 60px;
    }
  
    #cafelovetorta-foto{
      width: 15rem;
      box-shadow: 5px 5px 4px 4px rgba(255, 0, 0, 0.7);
    }
  
    .texto-segundo-producto{
    box-sizing: border-box;
    padding: 25px 80px 25px 60px;
    color:#000;
    text-align:justify;
    }
  
    h1.Cafelovetorta{
  font-style: italic;
    }

    .Tercer-producto-div{
      display: flex;
      background-color: #eee;
      margin-top: 3rem;
      border-top:solid;
      border-bottom: solid;
      border-color: #eee;
      font-family: 'Noto Serif', serif;
      }
    
      .KairosNiceFoto{
       margin: 40px 60px;
      }
    
      #KairosNiceFoto{
        width: 15rem;
        box-shadow: 5px 5px 4px 4px rgba(255, 0, 0, 0.7);
      }
    
      .texto-tercer-producto{
      box-sizing: border-box;
      padding: 25px 80px 25px 50px;
      color:#000;
      text-align:justify;
      }
    
      h1.KairosNice{
    font-style: italic;
      }
   
      .video{
margin: 5rem 14rem;
border: solid;
border-color: red;
border-radius: 5px;
      }

      #video{
       width: 100%;
       height: 315px;
       display:block;
       
      }

.Contacto-wrap{
  margin-top: 80px;
}

#title-contatc{
text-align: center;
font-family: 'Noto Serif', serif;
font-size: 1.5rem ;
}

.Contacto{
  display: flex;
  justify-content: center;
}

.Red-social-div{
  padding: 40px;
  margin: 0;
  text-align: center;
  font-family: 'Noto Serif', serif;
}

      .iconos{
        height: 50px;     
      }

  #wrap-main-page{
    display: none;
    margin-top:75px;
    width:100%;
    z-index:0;
  }

  footer{
    font-family:'Noto Serif', serif;
    font-size: .9rem;
    padding: 20px 0 10px 5px;
    margin-top: 20px;
    background-color: white;
  }
 